main {
  margin: 50px;
}
.mobile img {
  width: 380px;
}

.app_text {
  background-color: rgb(138, 90, 58, 0.38);
  padding: 30px;
  max-width: 350px;
  margin-bottom: 50px;
}

.index_h2 {
  max-width: 720px;
  margin-bottom: 40px;
}

.path1 img {
  width: 250px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-top: -30px;
}

.seasons_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

.season_clickable {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.season_clickable img {
  max-width: 100%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(255, 252, 244, 0.85);
}

.season_clickable h3 {
  margin: 10px;
  text-align: center;
}

.quiz {
  background-color: #fffcf4;
  font-family: "karla";
  text-decoration: none;
  font-size: 36px;
  border-radius: 50px;
  padding: 10px 45px;
  color: #0a2c05;
}

.app_icon {
  width: 120px;
  margin-top: 20px;
  margin-right: 5px;
}

.quiz:hover {
  background-color: rgb(10, 44, 5, 0.12);
}

.quiz_text {
  background-color: rgb(138, 90, 58, 0.38);
  padding: 30px;
  max-width: 250px;
}

.path_2 img {
  width: 380px;
}

.path_3 img {
  width: 250px;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media (min-width: 1000px) {
  .app_grid {
    display: flex;
    gap: 10px;
    align-content: center;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin-right: 50px;
    margin-top: -20px;
  }

  .path img {
    width: 380px;
    margin-right: 70px;
    margin-left: -60px;
  }

  .path1 img {
    display: none;
  }

  .path_3 img {
    display: none;
  }

  .quiz_grid {
    display: flex;
    gap: 10px;
    align-content: center;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    max-width: 1100px;
  }

  .path_2 img {
    margin-left: -20px;
    margin-right: -100px;
  }
}

@media (max-width: 1000px) {
  .path img {
    display: none;
  }

  .path_2 img {
    display: none;
  }

  .quiz {
    margin-left: 60px;
  }
}
