* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Burger menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "degular", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgba(7, 13, 3, 0.65);
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Placerer menuen til højre */
  flex: 1;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #fffcf4;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #b8c198;
}

.burger {
  width: 30px;
  height: 15px;
  cursor: pointer;
  display: none;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #fffcf4;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    order: 1; /* Skifter burger-ikonet til højre */
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px;
    right: 0; /* Placerer menuen i toppen til højre */
    background-color: rgba(7, 13, 3, 0.65);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    text-align: right;
  }
}
