main {
  margin: 50px;
}

.herbs_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 70px;
  align-content: center;
  margin: auto;
}

.herb_clickable {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.herbs img {
  max-width: 100%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(255, 252, 244, 0.85);
  transition: transform 0.3s ease-in-out;
}

.herb_clickable h3 {
  margin: 10px;
  text-align: center;
}

.season_clickable img {
  transition: transform 0.3s ease-in-out;
}

.herbs:hover img {
  background-color: rgba(255, 252, 244, 0.65);
}
