main {
  margin: 50px;
}

/* brødkrummesti */
#breadcrumbs {
  padding: 10px; /* Tilføj lidt polstring for at give plads til indholdet */
  height: 30px;
}

#breadcrumbs a {
  text-decoration: none; /* Fjern understregning fra links */
  color: #333; /* Skift farven på links */
}

#breadcrumbs a:hover {
  text-decoration: underline; /* Understrege links ved hover */
  color: #555; /* Skift farven på links ved hover */
}

.herbs_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 70px;
  align-content: center;
  margin: auto;
}

.herb_clickable {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.herbs img {
  max-width: 100%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(255, 252, 244, 0.85);
}

.herb_clickable h3 {
  margin: 10px;
  text-align: center;
}
