.h2_produktside_rød {
  font-size: 36px;
  color: #5b1419;
}

.herb_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

#urtPåCirkel {
  max-width: 100%;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: rgba(255, 252, 244, 0.85);
}

.herb_grid div {
  display: grid;
  flex-direction: column;
  align-items: center;
}

.herb_grid h1 {
  align-self: center;
  margin-left: -45%;
  color: #0a2c05;
}

.herb_description_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 40px;
}

.sti_ned img {
  width: 180px;
  margin-left: 130px;
  margin-top: -40px;
}

#bgFirkant {
  background-color: rgb(138, 90, 58, 0.38);
  padding: 40px;
  max-width: 500px;
  margin-left: 40px;
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 70px;
}

#bgCirkel {
  background-color: rgb(10, 44, 5, 0.12);
  border-radius: 20%;
  padding: 50px;
  padding-bottom: 70px;
  position: relative;
}

.left_side {
  margin-right: 20px;
}

.right_side {
  margin-top: 55px;
}

.quiz_text_product {
  max-width: 300px;
  background-color: rgb(10, 44, 5, 0.12);
  padding: 30px;
  border-radius: 50px;
}

.grønTekst {
  max-width: 520px;
}

.introTekst {
  max-width: 580px;
}

.h2_produktside {
  text-align: center;
  font-size: 30px;
}

.planteIconer {
  max-width: 250px;
}

.rødTekst {
  color: #5b1419;
  max-width: 350px;
}

.rød_h2 {
  color: #5b1419;
}

.sti2 img {
  width: 350px;
}

@media (min-width: 1000px) {
  #herb2 {
    rotate: 90deg;
    position: absolute;
    top: 65%;
    left: 55%;
  }

  #herb1 {
    position: absolute;
    top: 70%;
    left: 55%;
    rotate: 25deg;
  }

  .sti2 {
    position: absolute;
    top: 130%;
    left: 44%;
  }
}

@media (max-width: 1000px) {
  #herb1 {
    display: none;
  }

  #herb2 {
    display: none;
  }
}

/* ------------------------- WEB ------------------------ */
/*
@media (min-width: 700px) {
  .h2_produktside_grøn {
    font-size: 36px;
    color: #0a2c05;
  }
  .h2_produktside_rød {
    font-size: 36px;
    color: #5b1419;
  }

  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .grid1_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  .grid2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .grid1_1row1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    margin-top: 5%;
  }

  #cirkelBg {
    position: absolute;
  }

  #positionAfPUrtebillede {
    margin-top: -60%;
    margin-left: 20%;
  }

  h1 {
    font-size: 48px;
    margin-top: -7%;
    margin-left: 10%;
  }

  .introTekst {
    margin-top: 20%;
    margin-left: 20%;
    grid-row: 1/2;
  }

  #bgCirkel {
    background-color: rgb(10, 44, 5, 0.12);
    border-radius: 100%;
    margin-top: -30%;
    margin-bottom: 30%;
    margin-right: 10%;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #bgFirkant {
    background-color: rgb(138, 90, 58, 0.38);
    margin-top: -10%;
    margin-left: 10%;
    margin-bottom: 10%;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .h2_produktside_rød {
    text-align: center;
    padding-top: 5rem;
  }
  .h2_produktside_grøn {
    text-align: center;
    padding-top: 5rem;
  }

  .rødTekst {
    color: #5b1419;
    max-width: 520px;
    margin-top: 10%;
    margin-left: 10%;
  }

  .grønTekst {
    max-width: 520px;
    margin-top: 10%;
    margin-left: 10%;
  }

  #area {
    margin-left: 10%;
    margin-top: 5%;
    color: #0a2c05;
    font-size: 18px;
    padding-bottom: 2rem;
  }

  .planteIconer {
    max-width: 420px;
  }

  #herb1 {
    position: absolute;
    top: 110%;
    left: 45%;
    rotate: 45deg;
  }
  #herb2 {
    position: absolute;
    top: 245%;
    left: 35%;
    rotate: 90deg;
  }

  .sti1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    rotate: 60deg;
  }

  .sti2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: -50%;
    margin-left: 10%;
    rotate: -40deg;
  }

  #test {
    margin: 5rem;
  }

  #posbtn {
    display: flex;
    margin-left: 15%;
  }

  #posbtn div {
    padding-top: 6%;
  }
  #quizbtn:hover {
    background-color: rgb(138, 90, 58, 0.38);
  }
  #quizbtn {
    background-color: #fffcf4;
    font-family: "karla";
    text-decoration: none;
    font-size: 26px;
    border-radius: 50px;
    padding: 10px 15px;
    color: #0a2c05;
    cursor: pointer;
    border: none;
    text-align: center;
  }
}
*/

/* ------------------------- MOBIL ------------------------ */
/* 
@media (max-width: 700px) {
  #cirkelBg {
    max-width: 50%;
    position: absolute;
  }
  #urtPåCirkel {
    max-width: 60%;
    position: absolute;
    left: 0;
  }
  #positionAfPUrtebillede {
    margin-top: 15%;
    margin-left: 5%;
  }

  h1 {
    font-size: 48px;
    padding-top: 30%;
    margin-left: 60%;
  }

  .introTekst {
    font-size: 20px;
    max-width: fit-content;
    padding-top: 15%;
    margin: 5%;
    grid-row: 1/2;
  }

  .h2_produktside_grøn {
    font-size: 36px;
    color: #0a2c05;
  }
  .h2_produktside_rød {
    font-size: 36px;
    color: #5b1419;
  }

  #bgCirkel {
    background-color: rgb(10, 44, 5, 0.12);
    border-radius: 50%;
    margin: 5%;
    padding-bottom: 20%;
  }

  #bgFirkant {
    background-color: rgb(138, 90, 58, 0.38);
    margin: 5%;
  }

  .h2_produktside_rød {
    text-align: center;
    padding-top: 3rem;
    font-size: 30px;
  }
  .h2_produktside_grøn {
    text-align: center;
    padding-top: 3rem;
    font-size: 30px;
  }

  .rødTekst {
    color: #5b1419;
    max-width: 320px;
    margin-top: 10%;
    padding-left: 5%;
    font-size: 16px;
  }

  .grønTekst {
    max-width: 320px;
    margin-top: 10%;
    font-size: 16px;
  }

  #area {
    margin-left: 10%;
    margin-top: 5%;
    color: #0a2c05;
    font-size: 18px;
    padding-bottom: 2rem;
  }

  #herb1 {
    display: none;
  }
  #herb2 {
    display: none;
  }

  #sti1 {
    max-width: 50%;
    margin-top: 5%;
    margin-left: 20%;
    rotate: 55deg;
  }
  #sti2 {
    max-width: 65%;
    margin-top: -10%;
    margin-left: 30%;
    rotate: -90deg;
  }

  #test {
    display: none;
  }

  #posbtn {
    margin-left: 25%;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  #quizbtn:hover {
    background-color: rgb(138, 90, 58, 0.38);
  }
  #quizbtn {
    background-color: #fffcf4;
    font-family: "karla";
    text-decoration: none;
    font-size: 26px;
    border-radius: 50px;
    padding: 10px 45px;
    color: #0a2c05;
    cursor: pointer;
    border: none;
    text-align: center;
  }
}

*/
