main {
  margin: 50px;
}

@font-face {
  font-family: karla;
  src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: quicksand;
  src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "quickReg";
  src: url("../font/Quicksand-Regular.woff2");
}

.quiz_intro {
  margin: -30px 10px 30px 10px;
  text-align: center;
}

.quiz_container {
  max-width: 700px;
  margin: 0 auto;
}

.quiz_group {
  margin-bottom: 15px;
  color: #0a2c05;
  background-color: rgb(10, 44, 5, 0.12);
  padding: 20px;
  border-radius: 20px;
}

.question {
  font-size: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "quickReg";
}

select {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #fffcf4;
  border-radius: 4px;
  background-color: #fffcf4;
  font-family: "quickReg";
}

button:hover {
  background-color: rgb(138, 90, 58, 0.38);
}

button {
  background-color: #fffcf4;
  font-family: "karla";
  text-decoration: none;
  font-size: 26px;
  border-radius: 50px;
  padding: 10px 45px;
  color: #0a2c05;
  cursor: pointer;
  border: none;
  display: block;
  margin: 20px auto;
}
