body {
  background-color: #b8c198;
  background-image: url("../img/prudukt/herb.webp");
  background-size:cover;
}

@font-face {
  font-family: "karla";
  src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: "quickBold";
  src: url("../font/Quicksand-Bold.woff2");
}
@font-face {
  font-family: "quickReg";
  src: url("../font/Quicksand-Regular.woff2");
}
@font-face {
  font-family: "quickLight";
  src: url("../font/Quicksand-Light.woff2");
}

h1 {
  font-family: "quickBold";
  font-size: 60px;
  color: #fffcf4;
}

h2 {
  font-family: "quickBold";
  font-size: 44px;
  color: #0a2c05;
  margin-bottom: 30px;
}

h3 {
  font-family: "quickBold";
  font-size: 32px;
  color: #0a2c05;
}

p {
  font-family: "quickReg";
  font-size: 20px;
  color: #0a2c05;
  max-width: 520px;
}

.introTekst {
  font-size: 26px;
  max-width: 720px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}