footer {
    background-color: #497d41;
    color: white;
}
footer {
    padding: 2em;
    font-size: calc(10px + 0.390625vw);
  }

@font-face {
    font-family: karla;
    src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}


@media screen and (min-width: 700px) {
.footer-grid {
        display: block;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0em;
    object-fit: contain;
  }

 /** desktop for header and footer **/
 
    footer img {
      max-width: 60px;
      width: fit-content;
      height: fit-content;
    }
  }

@media screen and (max-width: 700px) {
          /* Footer */
  footer > img {
    display: block;
    min-width: 70px;
    width: 100%;
    height: 100%;
    padding: 1em;
    object-fit: fill;
  }
    .footer-grid {
      display: block; /* Ændrer layout til blokvisning */
    }
    .footerhours {
      text-align: center; /* Justerer tekst til midten */
    }
    footer img {
      max-width: 50px; /* Justerer billedstørrelse */
    }
  
  
  .footer-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-grid div {
    flex: 1 0 50%; /* Del elementerne i to kolonner */
  }
}body {
  background-color: #b8c198;
}

@font-face {
  font-family: "quickBold";
  src: url("../font/Quicksand-Bold.woff2");
}
@font-face {
  font-family: "quicReg";
  src: url("../font/Quicksand-Regular.woff2");
}
@font-face {
  font-family: "quicLight";
  src: url("../font/Quicksand-Light.woff2");
}

h1 {
  font-family: "quickBold";
  font-size: 60px;
  color: #fffcf4;
}

h2 {
  font-family: "quickBold";
  font-size: 44px;
  color: #0a2c05;
}

h3 {
  font-family: "quickBold";
  font-size: 32px;
  color: #0a2c05;
}

p {
  font-family: "quickReg";
  font-size: 20px;
  color: #0a2c05;
  max-width: 520px;
  margin-left: 10%;
}

.introTekst {
  font-size: 36px;
  max-width: 720px;
}
